*{
    font-family: 'Nunito Sans', sans-serif;
}

@media(min-width:480px) {
    html{
        font-size: 12px;
    }
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}